<nav class="navbar">
  <a href="/">
    <img class="logo" src="logo.png">
  </a>
  <div class="links">
    <!-- Usuario -->
    <a href="/nueva-solicitud">Nueva Solicitud</a>
    <a href="">Mis Solicitudes</a>
    <!-- Administrador -->
    <a href="">Solicitudes Pendientes</a>
    <a href="">Solicitudes Aprobadas</a>
    <a href="/cargar-horario">Cargar Horario</a>
    <a href="">Nuevo Material</a>
    <a href="/gestionar-inventario">Gestionar Inventario</a>
    <a href="/detalles-laboratorio">Detalles Laboratorio</a>
    <a href="/login">Iniciar Sesión</a>
  </div>
</nav>
<router-outlet></router-outlet>