.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-grid #grupo {
    grid-column: span 2;
}

.form-grid label {
  margin-top: 0.4rem;
}

.form-grid .labeled  input {
    margin-top: 0.1rem;
}

.form-grid .labeled {
    display: flex;
    flex-direction: column;
    text-align: center;
}

