<div class="form-container">
    <p>Cargar Horario</p>
    <form action="">
        <div class="form-grid">
            <input type="text" placeholder="Nombre Completo" id="nombre" name="nombre" required>
            <input type="number" placeholder="ID" id="id" name="id" required>
            <input type="text" placeholder="Carrera" id="carrera" name="carrera" required>
            <input type="text" placeholder="Materia" id="materia" name="materia" required>
            <input type="text" placeholder="Grupo" id="grupo" name="grupo" required>
            <div class="labeled">
                <label for="fechaInicio">Fecha de Inicio</label>
                <input type="date" placeholder="Fecha de Inicio" id="fechaInicio" name="fechaInicio" required>
            </div>
            <div class="labeled">
                <label for="fechaFin">Fecha de Finalización</label>
                <input type="date" placeholder="Fecha de Finalización" id="fechaFin" name="fechaFin" required>
            </div>
            <div class="labeled">
                <label for="hora">Hora</label>
                <input type="time" placeholder="Hora" id="hora" name="hora" required>
            </div>
            <div class="labeled">
                <label for="frecuencia">Frecuencia</label>
                <input type="text" placeholder="(Lunes, Martes...)" id="frecuencia" name="frecuencia" required>
            </div>
        </div>
        <button type="submit">Cargar</button>
    </form>
</div>