<div class="table-container">
    <p>Solicitudes Aprobadas</p>
    <table datatable *ngIf="solicitudes.length > 0">
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{ solicitud.idusuario }}</td>
                <td>{{ solicitud.fecha.split('T')[0] }}</td>
                <td>{{ formatearHora(solicitud.horaInicio) }}</td>
                <td>{{ solicitud.estado | estado }}</td>
                <td>{{ solicitud.observaciones }}</td>
                <td>
                    <div class="actionButtons">
                        <button *ngIf="isCancelable(solicitud.fecha, solicitud.horaInicio)" class="red"
                            (click)="cancelarSolicitud(solicitud.idprestamo)">Cancelar</button>
                        <button *ngIf="!isCancelable(solicitud.fecha, solicitud.horaInicio)" class="green"
                            (click)="finalizarSolicitud(solicitud.idprestamo)">Finalizar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="solicitudes.length === 0">No hay solicitudes aprobadas</div>
</div>