<div class="form-container">
    <p>Inicio de Sesión</p>
    <form (submit)="onLogin($event)">
        <div class="form-grid">
            <input type="email" placeholder="Correo" id="correo" name="correo" required [(ngModel)]="correo">
            <input type="password" placeholder="Contraseña" id="password" name="password" required [(ngModel)]="password">
        </div>
        <button type="submit">Entrar</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>