<div class="login-container">
    <p>Inicio de Sesión</p>
    <form action="">
        <div class="email">
            <input type="email" placeholder="Usuario" id="email" name="email" required>
            <span>&#64;edu.uaa.mx</span>
        </div>

        <div class="password">
            <input type="password" placeholder="Contraseña" id="password" name="password" required>
        </div>

        <button type="submit">Entrar</button>
    </form>
    <div class="info-links">
        <a href="#">¿Eres un maestro?</a>
        <a href="#">¿Eres un administrador?</a>
    </div>
</div>