.form-container input, button {
    margin: 0.4rem 0;
}

.form-container input[type="password"] {
    width: 100%;
}

.info-links a {
    margin-top: 10px;
    text-decoration: none;
    padding: 1rem;
    color: var(--gris);
}