<div class="table-container">
    <p>Solicitudes Pendientes</p>
    <table datatable *ngIf="solicitudes.length > 0">
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{ solicitud.idusuario }}</td>
                <td>{{ solicitud.fecha.split('T')[0] }}</td>
                <td>{{ formatearHora(solicitud.horaInicio) }}</td>
                <td>{{ solicitud.estado | estado }}</td>
                <td>{{ solicitud.observaciones }}</td>
                <td>
                    <div class="actionButtons">
                        <button class="green" (click)="aceptarSolicitud(solicitud.idprestamo)">Aceptar</button>
                        <button class="red" (click)="rechazarSolicitud(solicitud.idprestamo)">Denegar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="solicitudes.length === 0">No hay solicitudes pendientes</div>
</div>