<div class="table-container">
    <p>Solicitudes Pendientes</p>
    <table datatable>
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{ solicitud.idusuario }}</td>
                <td>{{ solicitud.fecha }}</td>
                <td>{{ formatearHora(solicitud.horainicio) }}</td>
                <td>{{ solicitud.estado | estado }}</td>
                <td>{{ solicitud.observaciones }}</td>
                <td>
                    <div class="actionButtons">
                        <button class="green" (click)="aceptarSolicitud(solicitud._id)">Aceptar</button>
                        <button class="red" (click)="rechazarSolicitud(solicitud._id)">Rechazar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>