<div class="table-container">
    <p>Mis solicitudes</p>
    <table datatable *ngIf="Solicitudes.length > 0">
        <thead>
            <tr>
                <th>Laboratorio</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of Solicitudes">
                <td>{{ solicitud.laboratorio.departamento + '-' + solicitud.laboratorio.num_ed +
                    (solicitud.laboratorio.aula ?? '')
                    }}</td>
                <td>{{ solicitud.fecha }}</td>
                <td>{{ formatearHora(solicitud.horainicio) }}</td>
                <td>{{ solicitud.estado | estado }}</td>
                <td>
                    <div class="actionButtons">
                        <ng-container *ngIf="solicitud.estado === 'P'">
                            <button class="red" (click)="cancelarSolicitud(solicitud._id)">Canelar</button>
                        </ng-container>
                        <ng-container *ngIf="solicitud.estado !== 'P'">
                            N/A
                        </ng-container>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="Solicitudes.length === 0">No hay solicitudes</div>
</div>