<div class="form-container">
    <p>Detalles Laboratorio</p>
    <form action="">
        <div class="form-grid">
            <input type="text" placeholder="Plantel" id="plantel" name="plantel" required>
            <input type="text" placeholder="Número de Edificio" id="numeroEdificio" name="numeroEdificio" required>
            <input type="text" placeholder="Aula" id="aula" name="aula" required>
            <input type="text" placeholder="Nombre del Encargado" id="nombreEncargado" name="nombreEncargado" required>
            <input type="text" placeholder="Departamento" id="departamento" name="departamento" required>
            <input type="number" placeholder="Cupo" id="cupo" name="cupo" required>
            <input type="text" placeholder="Horario y Días Habiles" id="horarioDiasHabiles" name="horarioDiasHabiles" required>
            <div class="labeled">
                <label for="fechaInicio">Fecha de Inicio</label>
                <input type="date" placeholder="Fecha de Inicio" id="fechaInicio" name="fechaInicio" required>
            </div>
            <input type="text" placeholder="Observaciones" id="observaciones" name="observaciones" required>
            <input type="text" placeholder="Características Adicionales" id="caracteristicasAdicionales" name="caracteristicasAdicionales" required>
        </div>
        <button type="submit">Guardar</button>
    </form>
</div>