<div class="form-container">
    <p>Registro de Material</p>
    <form action="">
        <div class="form-grid">
            <input type="text" placeholder="Nombre del Material" id="nombre" name="nombre" required>
            <input type="number" placeholder="Cantidad" id="cantidad" name="cantidad" required>
            <input type="text" placeholder="Laboratorio" id="laboratorio" name="laboratorio" required>
            <input type="text" placeholder="Estado" id="estado" name="estado" required>
            <input type="text" placeholder="Descripción" id="descripcion" name="descripcion" required>
        </div>
        <button type="submit">Registrar</button>
    </form>
</div>